a,
#home-icon {
    display: flex;
    text-decoration: none;
}

#home-icon {
    width: 3.5vw;
    height: 2vw;
    display: inline-block;
    background-color: #9ba0a7;
    align-self: center;
    border: thin solid #051224;
    margin: 0 1vw .5vw 0;
    clip-path: polygon(50% 0%,
            90% 50%,
            75% 50%,
            75% 100%,
            25% 100%,
            25% 50%,
            10% 50%);
}

#home-icon:hover {
    background-color: white;
}

#headerContainer {
    width: 100%;
    height: 5vw;
    background-color: #051224;
    color: #9ba0a7;
}

#headerLayout {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    gap: 1vw;
    padding: 0 .75vw;
}

#headerButtons {
    display: flex;
    align-items: stretch;
    height: 100%;
}

#headerLayout button {
    width: 8vw;
    background: none;
    border: none;
    color: #9ba0a7;
    font-size: 1.2vw;
}

#headerLayout button:hover {
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

@media only screen and (max-width: 575.98px) {
    #siteName {
        font-size: 8vw;
        margin-left: 2.5vw;
    }

    #headerContainer {
        height: 10vw;
    }

    #headerButtons {
        width: 40%;
    }

    .navLink {
        font-size: 2.5vw !important;
        width: 12vw !important;
    }

    #home-icon {
        width: 7vw;
        height: 5vw;
    }
}