img {
    width: 20vw;
    height: 20vw;
}

#postContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#description {
    padding: 0 17vw;
    font-size: 1.2vw;
    margin-top: 3vw;
    white-space: pre-wrap;
}

#title {
    font-size: 3.2vw;
    margin-bottom: 0;
}

#authorName {
    margin-bottom: 1vw;
    margin-left: .5vw;
}

@media only screen and (max-width: 575.98px) { 
    #description {
        font-size: 2.5vw;
    }

    #title {
        font-size: 10vw;
    }

    #authorName {
        font-size: 2.5vw;
        margin-top: -1vw;
    }

    img {
        height: 50vw;
        width: 70vw;
        margin-top: 1vw;
    }
}