img {
    width: 20vw;
    height: 20vw;
}

#postContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#description {
    padding: 0 17vw;
    font-size: 1.2vw;
    margin-top: 3vw;
}